@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kuku";
  src: url("/fonts/KukuFontV2.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@layer components {

    main {
        @apply min-h-screen
    }

    html {
        background-color: white;
        overflow: scroll;
        overflow-x: hidden;
    }
    
    html,main {
        /* font-family: 'Amatic SC', cursive; */
        /* font-family: ; */
        font-family: 'Roboto', 'Amatic SC', 'Kuku';
        font-weight: 300;
        font-size: 1.2em;
    }

    ::-webkit-scrollbar {
        width: 0; 
        background: transparent;
    }

    video {
        -webkit-mask-image: -webkit-radial-gradient(white, black);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
    }

    input[type="date"] {
        display:block;
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        min-height: 1.2em;
    }
}